In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from torch.utils.data.dataset import random_split
import pandas as pd

In [59]:
# Define your custom dataset class

In [1]:
class CustomDataset(Dataset):
    def __ini__(self, features, labels):
        self.features = features
        self.labels = labels
        
    def __getitem__(self, index):
        x = self.features[index]
        y = self.labels[index]
        return x, y
    
    def __len__ (self):
        return len(self.features)

NameError: name 'Dataset' is not defined

In [61]:
# Define the logistic regression model

In [62]:
class LogisticRegression(nn.Module):
    def __init__(self, input_dim):
        super(LogisticRegression, self).__init__()
        self.linear = nn.Linear(input_dim, 1)
        self.sigmoid = nn.Sigmoid
        
    def forward(self, x):
        logits = self.linear(x)
        probablities = self.sigmoid(logits)
        return probablities

# Preparing our data

In [63]:
data = pd.read_csv("Diabetes-Classification.csv")

In [64]:
data

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0
...,...,...,...,...,...,...,...,...,...,...
9995,1469198,6,95,85,37,267,18.497542,0.660240,31,0
9996,1432736,0,55,51,7,50,21.865341,0.086589,34,0
9997,1410962,5,99,59,47,67,30.774018,2.301594,43,1
9998,1958653,0,145,67,30,21,18.811861,0.789572,26,0
9999,1332938,10,100,54,34,27,38.840943,0.175465,23,0

In [65]:
features = data[["Pregnancies", "PlasmaGlucose", "DiastolicBloodPressure", "TricepsThickness", "SerumInsulin", "BMI", "DiabetesPedigree", "Age"]]

In [66]:
features

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age
0,0,171,80,34,23,43.509726,1.213191,21
1,8,92,93,47,36,21.240576,0.158365,23
2,7,115,47,52,35,41.511523,0.079019,23
3,9,103,78,25,304,29.582192,1.282870,43
4,1,85,59,27,35,42.604536,0.549542,22
...,...,...,...,...,...,...,...,...
9995,6,95,85,37,267,18.497542,0.660240,31
9996,0,55,51,7,50,21.865341,0.086589,34
9997,5,99,59,47,67,30.774018,2.301594,43
9998,0,145,67,30,21,18.811861,0.789572,26
9999,10,100,54,34,27,38.840943,0.175465,23

In [67]:
labels = data[["Diabetic"]]

In [68]:
labels

      Diabetic
0            0
1            0
2            0
3            1
4            0
...        ...
9995         0
9996         0
9997         1
9998         0
9999         0

[10000 rows x 1 columns]

In [69]:
# Convert the features and labels to PyTorch tensors

In [70]:
features_tensor = torch.Tensor(features.values)#, dtype=torch.float32)
labels_tensor = torch.Tensor(labels.values)#, dtype=torch.float32)

In [71]:
dataset = CustomDataset(features, labels)

TypeError: CustomDataset() takes no arguments

In [ ]:
# Print the shapes of the tensors

In [ ]:
print("Features_shape:", features_tensors.shape)

In [ ]:
print("labels_shape:", labels_tensors.shape)

In [ ]:
#Create an instance of the logistic regression model and define the loss function and optimizer.

In [ ]:
input_dim = data.shape[1]
model = LogisticRegression(input_dim)
cliterion = nn.BCELoss #Binary Cross Entropy Loss
optimizer = optim.SGD(model.parameters(), lr=0.01) #Stochastic Gradient Descent optimizer

In [ ]:
#training the logistic regression model using the prepared data

In [ ]:
num_epochs = 100
for epoch in range(num_epochs):
    #forward pass
    output = model(data)
    loss = criterion(output, train_labels)
    
    #backward and optimize
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    # Print the loss for every few epochs
    if (epoch+1) % 10 == 0:
        print(f" Epoch[{epoch+1} / {num_epochs}], loss:{loss.item():.4f}")